:root{
    --primary:#ed6a5a;
    --secondary:#042a2b;
    --lights:#fdfaf6;
    --texts:#2b2d42;
    --font:'Playfair';
    --font:'Poppins';
    --muted:#6c757d;
    --font:'Plus Jakarta Sans'
}
body{
    background-color: #fdfaf6;
    font-family: 'Plus Jakarta Sans';
}
.logo{
    font-size: 1.4rem;
    color: #2C2C2C;
    font-weight: 600;}
.nav-container{
    background-color: rgba(253, 250, 246, 0.85);
    backdrop-filter: blur(10px);
    padding: 25px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
align-items: center;
}

.nav-bar{
display: flex;
gap: 30px;
align-items: center;
}

.nav-bar a{
text-decoration: none;
color: #2b2d42;
font-family: 'Figtree';
font-size: 0.9rem;
}
#nav-cta{
    background-color: #0a4a4c;
    color: #fdfaf6;
    padding:8px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
#nav-cta:hover{
transform: translateY(-3px);
background-color: #ed6a5a;
box-shadow: #d87d71;
}

section img{
    background-image: url(pexels-artempodrez-7495941.jpg);
    width: 500px;
    height: 500px;
    border-radius: 25%;
    background-position: 50% 30%;
background-size: cover;
background-repeat: no-repeat;
margin-right: 50px;
}
.ONE{
    background-color: #0a4a4c;
    color: #fff;
    border: none;
    padding: 16px;
    width: 170px;
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 12px;
    font-family: 'Figtree';
}
.TWO{
background-color: transparent;
border: 1px solid #DDDDDD;
padding: 16px;
width: 170px;
border-radius: 20px;
transition: smooth 4s;
margin-bottom: 12px;
font-family: 'Figtree';
}
.TWO:hover{
    border-color:#2C2C2C;
}
.ONE:hover{
    transform: translateY(-3px);
  background-color: #ed6a5a;
   
}
.btns{
    display: flex;
    gap: 20px;
}
.hero-page{
    min-height: 90vh;
}
.hero-container{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 80px;
    align-items:center ;
    width: 100%;
    
}
.text-container{
    display: flex;
    flex-direction: column;
}
.img-container{
    display: flex;
   align-items: right;
}

.text-container h1{
font-size: 3.7rem;
line-height: 1.2;
margin-bottom: 24px;
font-weight: 500;
color: #2b2d42;
font-family: 'Plus Jakarta Sans';
}

.text-container span{
    font-style: italic;
    font-family: 'Playfair';
    font-weight: lighter;
}
.text-container p{
    font-size: 20px;
    color: #6c757d;
    margin-top: 5px;
    max-width: 500px;
    margin-bottom: 35px;
   
}
.text-container{
    margin-left: 26vh;
    margin-top: 5vh;
}
.hero-container{
    display: flex;
    
}
.img-container{
    display: flex;
    justify-content: center;
    margin-top: 5vh; }













    .ABOUT{
background-color:#ffffff;
min-height: 70vh;
padding: 50px 8%;
display: grid;
grid-template-columns: 1fr 1.2fr;
gap: 80px;
align-items:center ;
}
 .about-img-container{
background-image: url(lilies.jpg);
width: 100%;/*It takes a 100% of its entire part*/
height: 500px;
background-position: 50% 30%;
background-size: cover;
background-repeat: no-repeat;
border-radius: 20px;
 }   
.text-about-container header{
font-size: 2.6rem;

}
.text-about-container header span{
font-style: italic;
font-family: 'Playfair';
font-size: 3.2rem;
color: #ed6a5a;

}
.text-about-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text-about-container p{
 font-size: 20px;
    color: #6c757d;
    margin-top: 5px;
    max-width: 500px;
    margin-bottom: 35px;
}
.text-about-container button{
    background-color: #0a4a4c;
    color: #fff;
    border: none;
    padding: 16px;
    width: 170px;
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 12px;
    font-family: 'Figtree';
}
.text-about-container button:hover{
transform: translateY(-3px);
  background-color: #116063;
}
.about-container{
display:flex ;
justify-content: space-between;
align-items: center;
gap: 150px;
    }
    





.cards-container{
display: flex;
grid-template-columns: 1fr repeat(3);
align-items:center;
flex-direction: row;
justify-content: space-between;
gap: 40px;
}
.card{
background:#fff;
color: #2C2C2C;
border-radius: 24px;
padding: 32px;
box-shadow: 0 4px 15px rgba(58, 57, 57, 0.1);
transition: transform 0.3s ease;
max-width: 270px;
margin-top: 50px;
}
.card:hover{
    transform: translateY(-10px); 
}
.services a{
    text-decoration: none;
    color: #2C2C2C; 
}
.services h1{
    font-size: 1.4rem;
    font-weight: 400;
}
.services header{
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.services h4 {
     display: flex;
    justify-content: center;
    margin-bottom: 30px; 
}
#end-btn{
   display: flex;
   justify-content: center;
   margin-top: 30px;
    color: var(--primary);
}
.services{
    min-height: 70vh;
    
padding: 50px 8%; ;
}
input, textarea{
    width: 100%;
    box-sizing: border-box;
}
@media(max-width :600px){
img{
    width: 90%;
    justify-content: center;
}
.hero-container{
    gap: 25px;
}
.text-container{
    margin-left: 0;
    margin-top: 15px;
    padding :0 15px;
}
.nav-container{

    display: flex;
    margin-left: 0;

}
.nav-bar{
   
    margin-left: 0;

}
.img-container img {
    width:80%;
    height: auto;
}
.ABOUT{
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 35px 45px;}

.about-img-container{
    height: 400px;
}
}
@media(max-width:600px){
    
.cards-container{
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
} 

.card{
    width: 100%;
    max-width: 400px;
}
.nav-container{
    flex-direction: column;
    gap: 15px;
    background-color: rgba(253, 250, 246, 0.85);
    backdrop-filter: blur(10px);
    position: sticky;
}
.nav-bar{
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    
    
}

.footer-container{
flex-direction: column;
gap: 30px;
}
}




